// Place your apps css here

/* background */

body {
  background: url(https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xtl1/v/t1.0-9/1544366_10152644407596405_4359910783923267705_n.jpg?oh=908bb7258c26a1418187f05a48299c87&oe=56E5206B) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* elements */

.logo {
  margin-left: 1em;
}

.style {
  margin-right: 1em;
  margin-left: .25em;
}

.front {
	width: 180px;
	height: 200px;
}

.chat {
    width: 65px;
    height: 65px;
}

/* chat window */

#chatwindow{
    position:relative;
    height:400px; /* if you wish to use all of your space, use
    position:absolute; top:0;left:0;right:0;bottom:0;
    or drop the chatdwindow div */
}
#messagewindow, #inputcontainer{
    position:absolute;
    left:0;
    right:0;
}
#messagewindow{
    overflow:auto;
    top:0;
    bottom:3em;
}
#inputcontainer{
    display:block;
    bottom:0;
    height:1em;
    padding:.5em;
    margin-top:1em;
}

#inputcontainer > p{
    margin:0;
}

/* destroy button */

.list-group li .destroy {
  display: none;
}

.list-group li:hover .destroy {
  display: block;
}
