// Place your apps css here

/* background */

body {
  background: url(http://www.planwallpaper.com/static/images/Alien_Ink_2560X1600_Abstract_Background_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* elements */

.logo {
  margin-left: 1em;
}

.style {
  margin-right: 1em;
  margin-left: .25em;
}

.front {
	width: 180px;
	height: 200px;
}

.chat {
    width: 65px;
    height: 65px;
}

/* destroy button */

.list-group li .destroy {
  display: none;
}

.list-group li:hover .destroy {
  display: block;
}
