<:Title>
  Uncle Chat

<:Body>
{{ if Volt.current_user? }}
  <div class="jumbotron">
    <h2>Hello, welcome to the Uncle Chat!</h2>
    <p>Proceed to your dashboard or your chatroom below...</p>
    <p><a class="btn btn-primary" href="/dashboard" role="button">Dashboard</a>
    <a class="btn btn-primary" href="/little-girl-chat" role="button">Chat Room</a></p>
  </div>
{{ else }}
  <div class="jumbotron">
    <h2>Hello, welcome to Uncle Chat!</h2>
    <br>
    <a class="btn btn-primary" href="/little-girl-chat" role="button">Enter Chat Room</a></p>
  </div>
{{ end }}
