<:Title>
  Chat App

<:Body>

 <form e-submit="return_image">
  	<input class="form-control" placeholder="Hello, What's your name?" value= '{{ _name }}'>
</form>
<br>
{{ store.friends.where(name: _name).each do |friend| }}
<div class="media">
  <div class="media-left">
    <a href="/{{ friend.name }}">
      <img class="media-object img-circle front" src="{{ friend.image }}" alt="Your Face :)">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Hello {{ friend.name }}!</h4>
    Please enter the chat room by clicking on your picture.
  </div>
</div>
{{ end }}
<br>


  





