<:Title>
  {{ view main_path, "title", {controller_group: 'main'} }}

<:Body>
  <div class="container">
    <div class="header">
      <nav class="navbar navbar-default">
        {{ if Volt.current_user }}
          <ul class="nav nav-pills pull-right">
            <:nav href="/">Home</:nav>
            <:nav href="/about">About</:nav>
            <:nav href="/dashboard">Dashboard</:nav>
            <:user_templates:menu />
          </ul>
        {{ end }}
        <h4 class="text-muted logo">Uncle Chat</h4>
      </nav>
    </div>

    <:volt:notices />

    {{ view main_path, 'body', {controller_group: 'main'} }}

    <div class="footer">
      <p>&copy; <span class="label label-primary">Uncle Chat {{ Time.now.year }}</span></p>
    </div>

  </div>

<:Nav>
  <li class="{{ if active_tab? }}active{{ end }}">
    <a href="{{ attrs.href }}">{{ yield }}</a>
  </li>
