<:Title>

Chat Entry | Chat App

<:Body>

 <form e-submit="return_image">
  	<input class="form-control" placeholder="Hello, What's your name?" value= '{{ _name }}'>
</form>
<br>
<div class="jumbotron">
  {{ if friend_present? }}
    {{ store.friends.where(name: _name.capitalize).each do |friend| }}
      <div class="media">
        <div class="media-left">
          <a href="/little-girl-chat/{{ friend.name }}">
            <img class="media-object img-circle front" src="{{ friend.image }}" alt="Your Face :)">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Hello {{ friend.name }}!</h4>
          <h5>Please enter the chat room by clicking on your picture.</h5>
        </div>
      </div>
  {{ end }}
{{ else }}
  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object img-circle front" src="http://sites.utexas.edu/bonnecazegroup/files/2013/02/blank-profile-hi.png" alt="Your Face :)">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Welcome!</h4>
      <h5>Please enter your first name above.</h5>
    </div>
  </div>
{{ end }}
</div>
