<:Title>
  Chat App

<:Body>

<div id="chatwindow">
	<div id="messagewindow">
		{{ store.comments.all.each do |comment| }}
			{{ if comment.author == params._name }}
				<div class="panel-body">
					<div class="media pull-right">
						<div class="media-body" style="font-family:{{ comment.family }};color:{{ comment.colour }};font-size:{{ comment.size }}">
							{{ comment.entry }}
						</div>
						<div class="media-right">
							{{ store.friends.where(name: comment.author).each do |friend| }}
							<img class="media-object chat" src="{{ friend.image }}" alt="...">
							{{ end }}
						</div>
					</div>
				</div>
				{{ else }}
				<div class="panel-body">
					<div class="media">
						<div class="media-left">
							{{ store.friends.where(name: comment.author).each do |friend| }}
							<img class="media-object chat" src="{{ friend.image }}" alt="...">
							{{ end }}
						</div>
						<div class="media-body" style="font-family:{{ comment.family }};color:{{ comment.colour }};font-size:{{ comment.size }}">
							{{ comment.entry }}
						</div>
					</div>
				</div>
			{{ end }}
		{{ end }}
	</div>
</div>

<div class="well">
	<p class="family-{{ _family }} colour-{{ _colour }} size-{{ _size }}">{{ new_comment_entry }}</p>
</div>

<br>

<form e-submit="submit_comment">
  	<input class="form-control" placeholder="Chat Here" autofocus value="{{ new_comment_entry }}">
</form>

<br>

<h4>
	Font Family:
	<select value="{{ _family }}">
	  <option value="serif">Serif</option>
	  <option value="sansserif">Sans Serif</option>
	  <option value="monospace">Monospace</option>
	  <option value="cursive">Cursive</option>
	  <option value="fantasy">Fantasy</option>
	</select>

	Font Size:
	<select value="{{ _size }}">
	  <option value="large">Large</option>
	  <option value="medium">Medium</option>
	  <option value="small">Small</option>
	</select>

	Font Colour:
	<select value="{{ _colour }}">
	  <option value="blue">Blue</option>
	  <option value="black">Black</option>
	  <option value="red">Red</option>
	  <option value="purple">Purple</option>
	</select>
	
	<button type="button" class="btn btn-primary pull-right" e-click="submit_comment">
			Submit
	</button>
</h4>