<:Title>
  Chat App

<:Body>

<div id="chatwindow">
	<div id="messagewindow">
		{{ store.comments.all.reverse.each do |comment| }}
			{{ if comment.author == params._name }}
				<div class="panel-body" style="background-color:{{ comment.background }}">
					<div class="media pull-right">
						<div class="media-body" style="font-family:{{ comment.family }};color:{{ comment.colour }};font-size:{{ comment.size }}">
							{{ comment.entry }} 
						</div>
						<div class="media-right">
							{{ store.friends.where(name: comment.author).each do |friend| }}
							<img class="media-object chat" src="{{ friend.image }}" alt="...">
							{{ end }}
						</div>
					</div>
                    <span class="label label-info">{{ comment.sent_at }}</span>
				</div>
			{{ else }}
				<div class="panel-body" style="background-color:{{ comment.background }}">
					<div class="media">
                        <span class="label label-info pull-right">{{ comment.sent_at }}</span>
						<div class="media-left">
							{{ store.friends.where(name: comment.author).each do |friend| }}
							<img class="media-object chat" src="{{ friend.image }}" alt="...">
							{{ end }}
						</div>
						<div class="media-body" style="font-family:{{ comment.family }};color:{{ comment.colour }};font-size:{{ comment.size }}">
							{{ comment.entry }}
						</div>
					</div>

				</div>
			{{ end }}
		{{ end }}
	</div>
</div>
{{ store.friends.where(name: params._name).all.each do |friend| }}
	{{ friend.styles.each do |style| }}
        <div class="well" style="background-color:{{ style.background }}">
        	<p style="font-family:{{ style.family }};color:{{ style.colour }};font-size:{{ style.size }}">{{ friend.entry }}</p>
        </div>
    {{ end }}
{{ end }}
        <form e-submit="submit_comment">
        {{ store.friends.where(name: params._name).each do |friend| }}
          	<input class="form-control" placeholder="Chat Here" autofocus value="{{ friend.entry }}">
        {{ end }}
        </form>

        <br>

        <div>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#colour" aria-controls="colour" role="tab" data-toggle="tab">Colour</a></li>
            <li role="presentation"><a href="#background" aria-controls="background" role="tab" data-toggle="tab">Background</a></li>
            <li role="presentation"><a href="#size" aria-controls="size" role="tab" data-toggle="tab">Size</a></li>
            <li role="presentation"><a href="#family" aria-controls="family" role="tab" data-toggle="tab">Family</a></li>
        	<button type="button" class="btn btn-primary pull-right" e-click="submit_comment">Submit</button>
          </ul>
{{ store.friends.where(name: params._name).all.each do |friend| }}
    {{ friend.styles.each do |style| }}
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="colour">
            	<:fields:radio:inline
            	value="{{ style.colour }}" 
            	options="{{[
            	{label:'Blue', value:'blue'},
            	{label:'Black', value:'black'},
            	{label:'Red', value:'red'}, 
            	{label:'Purple', value:'purple'}
            	]}}"/>
            </div>
            <div role="tabpanel" class="tab-pane" id="background">
            	<:fields:radio:inline
            	value="{{ style.background }}" 
            	options="{{[
            	{label:'Blue', value:'blue'},
            	{label:'Black', value:'black'},
            	{label:'Red', value:'red'}, 
            	{label:'Purple', value:'purple'}
            	]}}"/>
            </div>
            <div role="tabpanel" class="tab-pane" id="size">
            	<:fields:radio:inline
            	value="{{ style.size }}" 
            	options="{{[
            	{label:'Large', value:'large'},
            	{label:'Medium', value:'medium'},
            	{label:'Small', value:'small'}
            	]}}"/>
            </div>
            <div role="tabpanel" class="tab-pane" id="family">
            	<:fields:radio:inline
            	value="{{ style.family }}" 
            	options="{{[
            	{label:'Serif', value:'serif'},
            	{label:'Sans Serif', value:'sansserif'},
            	{label:'Monospace', value:'monospace'},
            	{label:'Cursive', value:'cursive'},
            	{label:'Fantasy', value:'fantasy'}
            	]}}"/>
            </div>
          </div>
        </div>
	{{ end }}
{{ end }}
<br>
